<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
   <head>
      <title th:text="${jl_sayingListTitle}">Insert title here</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="author" content="www.juanonlab.com">
      <meta name="owner" content="Juan Pardo Palazón">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link rel="stylesheet" th:href="@{/css/style.css}">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
   </head>
   <body>
      <header class="site-header">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-8">
               	  <img th:src="@{/img/logo.png}" class="img-fluid float-left" alt="juanonlab"/>
               </div>
               <div class="col-4 align-items-right">                     
                     <a href="/random" th:href="@{'/random'}" class="btn btn-outline-dark jl-rounded float-right" role="button" aria-pressed="true">Más Citas</a>                     
               </div>               
            </div>
         </div>
      </header>
      <div class="container">
         <div class="container">
  
         </div>
         <div class="row align-items-center">
            <div class="col-12 text-right p-3">
               <h5> <span class="big-black">Frases para</span><span class="big-blue">tu</span><span class="big-black">inspiración</span> </h5>
            </div>
            <div class="col-12">              
               <div th:each="sayingData: ${jl_sayingListData}">
                  <blockquote class="blockquote text-right info">
                     <p class="mb-0" th:text="${sayingData.authorSaying}">Saying</p>
                     <footer class="blockquote-footer" th:text="${sayingData.author}">
                        <cite title="Source Title">Author</cite>                        
                     </footer>                                         
                     <a class="little-blue" href="roomdetails.html"  th:href="@{'/byAuthor/' + ${sayingData.author} }"> Más frases del autor </a>
                  </blockquote>
               </div>
            </div>
         </div>
      </div>
   </body>

   <!-- Footer -->
   <footer class="page-footer">

      <!-- Footer Elements -->
      <div class="container">  
        <div class="row">
          <div class="col-md-12  text-center pt-3">
               <a class="jl-social p-2" href="https://www.linkedin.com/in/juan-pardo-palazon/" target="_blank"><i class="fab fa-linkedin-in fa-2x"></i></a>
               <a class="jl-social p-2" href="https://bitbucket.org/juanonlab/spring" target="_blank"><i class="fab fa-bitbucket fa-2x"></i></a>
               <a class="jl-social p-2" href="https://twitter.com/juanonlab" target="blank"><i class="fab fa-twitter fa-2x"></i></a>
               <a class="jl-social p-2" href="mailto:postmaster@juanonlab.com"><i class="fa fa-envelope fa-2x"></i></a>
          </div>
        </div>
      </div>
  
      <div class="col-12 text-center pt-2">
            <p class="copy">&copy; Juan Pardo Palazón</p>
      </div>
      <div class="col-12 text-center">
             <a class="jl-social p-2" href="/poweredBy" th:href="@{'/poweredBy'}" >Hecho con...</a>
      </div>

    </footer>
</html>