
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Montserrat');

html, input {
    padding: 10px 10px; 
    font-size: 1em; 
    line-height: 1.4;
    font-family: 'Playfair Display', serif; 
    color: #737373; 
    background: #f0f0f0;
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
}
    
body {
    max-width:700px; 
    _width: 700px; 
    padding: 30px 20px 10px; 
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    margin: 0 auto; 
    box-shadow: 0 1px 10px #5ab1cf, inset 0 1px 0 #fff;
    background: #fcfcfc;
    font-family: 'Playfair Display', serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.65;
}

.info {
	padding: 20px 20px;
	border: 1px solid #b3b3b3;
	border-radius: 25px;
}

.big-black {
    color: #000;  
    margin: 0 10px;
    font-size: 1.4em;
    text-align: center;
    font-weight: bold;
}

.big-blue {
    color: #5ab1cf;
    font-size: 1.4em; 
    text-align: center; 
    margin: 2 auto;
    font-weight: bold;
}

.little-blue {
    color: #5ab1cf;
    font-size: 0.8em; 
    text-align: center; 
    margin: 2 auto;
    font-weight: bold;
}

.email {
    color: #e8940d;
    font-size: 1.2em;
    font-weight: bold;
}

.copy {
    color: #b3b3b3;
    font-size: 1em;
}

.jl-social {
	color: #337ab7;
}



